Workshop HoGent/force-app/main/default/flows/Calculate_Stock_On_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>What_Operation</name>
        <label>What Operation?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Paper</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Paper__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Paper_Stock</targetReference>
            </connector>
            <label>Paper</label>
        </rules>
        <rules>
            <name>Hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hardware__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Hardware</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewPaperStock</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Paper__r.Stock__c} - {!$Record.Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Calculate Stock On Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Stock On Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Paper_Stock</name>
        <label>Update Paper Stock</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Stock__c</field>
            <value>
                <elementReference>NewPaperStock</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Paper__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Operation</targetReference>
        </connector>
        <object>Sale_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
